name: Tests
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read

jobs:
  pytest:
    name: Pytest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Install Openslide dependencies
      - name: Install Openslide dependencies
        run: |
          sudo apt update
          sudo apt install python3-openslide
      
      - name: Setup LibVips
        run: sudo apt install -y libvips-dev
      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: uv sync --dev --extra tests

      - name: Run Pytest
        run: uv run pytest
